<!DOCTYPE html>
<html lang="en">
<head>
    <title>Index</title>
</head>
<body>
<ul>
    <%data.forEach(value => { %>
        <%let keys = value.keys();%>
        <%keys.forEach(key => {%>
     <li><%= value[key]%></li>
    <%})});%>
</ul>
</body>
</html>